.post {

  .user-info {
    .thumbnail {
      display: inline-block;
      padding-left: 1rem;
    }

    .username {
      display: inline-block;
      width: calc(100% - 200px);
      height: 50px;
      overflow: hidden;    
      position: relative;
      padding-left: 1rem;

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);              
      }
    }

    .option-wrapper {
      float: right;
      position: relative;
    }

    .option {
      float: right;
      width: 50px;
      height: 50px;
      position: relative;

      .ui.dropdown {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);    
        font-size: 1.4rem;
        z-index: 10;

        .menu {
          left: -40px;
        }
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);            
      }
    }
  }

  .icons {
    padding: 1rem;
    overflow: hidden;
    position: relative;
    height: 3.5rem;

    .icon-count {
      font-size: 0.8rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .heart-wrapper {
      float: left;
    }

    .comment-wrapper {
      float: left;
      margin-left: 1rem;
    }

    .bookmark-wrapper {
      float: right;
    }

    .ui.divider {
      margin-top: 35px;
      clear: both;
    }

    i {
      cursor: pointer;
    }
  }

  .description {
    padding: 1rem;
    position: relative;

    .text {      
      display: inline-block;
      width: calc(100% - 60px);
      line-height: 120%;
    }

    .date {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

}