.preview-list {  
  $max-width: 800px;

  max-width: $max-width;
  border: 1px solid #e6e6e6;  
  margin: 0 auto;
  margin-bottom: 3rem;

  .ui.grid {
    margin: 0.5rem;

    .row{
      padding: 0;      

      .column {
        padding: 0.5rem;
        width: (100% / 3);
      }
    }
  }

  @include media("<#{$max-width}") {
    border: none;

    .ui.grid {
      margin: 0;

      .row{
        padding: 0;

        .column {
          padding: 0.2rem;
          width: (100% / 2);
        }

      } 
    }
  }
}