.write-wrapper {
  text-align: center;
  overflow-y: auto;

  .write-container {
    max-width: 600px;
    margin: 0 auto;
    height: calc(100vh - 8rem);        
  }

  .upload-image {
    margin-bottom: 1rem;    

    .dropzone {
      cursor: pointer;
      border-style: dashed;
      border-width: 2px;
      border-color: #999;
      padding: 5rem;
    }

    .preview {
      position: relative;

      i.remove {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
      }
    }
  }

  .write-input {
    margin-bottom: 3rem;
  }

  @include media("<tablet") {
    .write-input {
      margin-bottom: 0;
      padding: 0 1rem;
    }    
  }
}

.write-footer {
  padding: 1rem;
  height: 5rem;
  text-align: center;
}